In [73]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [74]:
data1 = pd.read_csv('1-statsfileinput1.xlsx - Sheet1.csv')
data2 = pd.read_csv('2-statsfileinput2.xlsx - Sheet1.csv')

In [75]:
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [76]:
df1.head()

   CustID  Gender  spending
0       1       1         18
1       2       2         54
2       3       2         30
3       4       1         78
4       5       2         14

In [77]:
df2.head()

   CustID  Gender  spending before marriage   spending after marriage
0       1       1                         18                       50
1       2       2                         54                       47
2       3       2                         30                       33
3       4       1                         78                       32
4       5       2                         14                       46

## Task 1

In [78]:
df1.count()

CustID       83
Gender       83
spending     83
dtype: int64

#### 1.  Two different continuous variable
#### 2. Two different groups
#### Independent sample T-Test

#### H0 : spending of male = spending of female
#### H1 : spending of male != spending of female

In [79]:
df1.rename(columns = {'spending ':'Spending'}, inplace = True)

In [80]:
sample_mean = sum(df1['Spending'])/df1['CustID'].count()
sample_mean

30.27710843373494

In [81]:
male_array =[]
female_array = []
for i in range(df1['Gender'].count()):
    if df1['Gender'][i]==1:
        male_array.append(df1['Spending'][i])
    elif df1['Gender'][i]==2:
        female_array.append(df1['Spending'][i])

In [82]:
mu1 = sum(male_array)/len(male_array)
mu2 = sum(female_array)/len(female_array)
print(mu1,mu2)

32.575 28.13953488372093

In [83]:
print(np.var(male_array), np.var(female_array))

170.794375 111.28285559762034

In [84]:
# here we are having different variance so equal_var = False

result = stats.ttest_ind(a=male_array, b=female_array, equal_var=False)

In [85]:
result.pvalue

0.09849604776250198

In [86]:
result.statistic

1.672994110687672

#### p-value > 0.05 more so we can accept the Null Hypothesis

## Task 2

In [87]:
df2.head()

   CustID  Gender  spending before marriage   spending after marriage
0       1       1                         18                       50
1       2       2                         54                       47
2       3       2                         30                       33
3       4       1                         78                       32
4       5       2                         14                       46

#### 1.  Two different continuous variable
#### 2. Two different groups
#### Paired sample T-Test

#### H0 : spending before marriage = spending after marriage
#### H1 : spending before marriage != spending after marriage

In [88]:
before_marriage_array = np.array(df2['spending before marriage '])
before_marriage_array

array([18, 54, 30, 78, 14, 40, 24, 33, 26, 35, 29, 47, 45, 49, 16, 26, 28,
       43, 36, 20, 38, 24, 19, 20, 42, 14, 26, 42, 48, 18, 15, 14, 19, 35,
       48, 17, 50, 37, 28, 27, 37, 23, 22, 47, 46, 33, 24, 13, 25, 13, 31,
       20, 29, 46, 27, 28, 26, 26, 20, 28, 32, 39, 24, 29, 31, 14, 18, 26,
       35, 48, 18, 26, 12, 39, 14, 26, 28, 26, 32, 44, 27, 45, 44],
      dtype=int64)

In [89]:
after_marriage_array = np.array(df2['spending after marriage'])
after_marriage_array

array([50, 47, 33, 32, 46, 29, 19, 48, 48, 24, 38, 30, 39, 32, 42, 42, 50,
       27, 22, 37, 44, 39, 48, 49, 16, 27, 48, 12, 16, 37, 25, 32, 38, 17,
       39, 34, 30, 29, 40, 37, 46, 39, 40, 30, 22, 23, 26, 11, 28, 47, 31,
       40, 14, 13, 34, 32, 13, 40, 34, 10, 14, 12, 42, 30, 15, 47, 39, 22,
       31, 34, 18, 46, 36, 49, 42, 10, 25, 38, 17, 25, 13, 14, 48],
      dtype=int64)

In [90]:
mu1 = sum(before_marriage_array)/len(before_marriage_array)
mu2 = sum(after_marriage_array)/len(after_marriage_array)
print(mu1,mu2)

30.27710843373494 31.710843373493976

In [91]:
print(np.var(before_marriage_array), np.var(after_marriage_array))

144.87501814486865 140.15735230076936

In [92]:
# performing paired sample t test and storing in res variable

In [93]:
res = stats.ttest_rel(a=before_marriage_array, b=after_marriage_array)

In [94]:
res.pvalue

0.4855623119914072

In [95]:
res.statistic

-0.7005574632612455

#### p-value > 0.05 so we can accept the Null Hypothesis